name: Checkout with Submodules

on:
  workflow_call:

steps:
  - name: Set up SSH for submodules
    if: ${{ inputs.submodules }}
    uses: webfactory/ssh-agent@v1
    with:
      ssh-private-key: ${{ secrets.SUBMODULE_SSH_PRIVATE_KEY }}

  - name: Initialize submodules
    if: ${{ inputs.submodules }}
    run: git submodule update --init --recursive
