# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - 1fe-demo

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - uses: ./.github/workflows/reusable/submodule-init.yml

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install, build, and test
        run: |
          yarn workspace @1fe/server install && yarn workspace @1fe/server build
          yarn workspace @1fe/shell install && yarn workspace @1fe/shell build
          cd apps/starter-app && yarn install && yarn build

      - name: Zip artifact for deployment
        run: zip release.zip ./apps/starter-app/ -r

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2887A9BBC91C489BA01EF92E3EFF2BB4 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_125B7F51D5C94A2686DEA089EA8C64FE }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8CA56B7171F346639FAE1E758792E212 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: '1fe-demo'
          slot-name: 'Production'
          package: apps/starter-app
